<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="../static/css/output.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Welcome to the Chatroom</h1>

    <div>
        <h1>Friends</h1>
        {% for chatroom in user.chatrooms %}
            <p onclick="changeRoom('{{ chatroom.get_friend(user).id }}')">{{ chatroom.get_friend(user).name }}</p>
        {% endfor %}
    </div>
    <br>
    <p>Messages</p>
    <div id="messages">
        {% for chatroom in user.chatrooms %}
            {{ chatroom.get_friend(user) }}
            {% for message in chatroom.messages %}
                {% if message.sender|int() == user.id|int() %}

                    <p style="color: blue;">{{ message.content }}</p>
                {% else %}
                    <p style="color: red;">{{ message.content }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <label for="message_input"></label><input type="text" id="message_input">
    <button id="send_button">Send</button>

    <script type="text/javascript">
        let socket = io.connect('http://' + document.domain + ':' + location.port);

        function chooseRoom(friend_id) {
            socket.emit("change_room", {receiver: friend_id})
        }

        socket.on('connect', function() {
            let receiver = {{ user.chatrooms[0].get_friend(user).id }};
            console.log(receiver)
            socket.emit('join', { receiver: receiver });
        });

        socket.on('message', function(data) {
            // displays message when a new message is sent
            let messages = document.getElementById('messages');
            // shows blue if they are the sender, shows red if they are the receiver
            let messageStyle = data.sender === {{ user.id }} ? "color: blue;" : "color: red;"
            messages.innerHTML += `<p style="${messageStyle}"> ${data.message}</p>`;
        });

        document.getElementById('send_button').onclick = function() {
            // runs when the user sends a message
            let sender = {{ user.chatrooms[0].get_friend(user).id }};
            let message = document.getElementById('message_input').value;
            socket.emit('send_message', { message: message, user_id: sender });
            document.getElementById('message_input').value = '';
        };
    </script>
</body>
</html>