<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice Problems</title>
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="p-3 flex flex-col space-y-1">
        <nav class="flex flex-col min-[540px]:flex-row justify-between py-3 space-y-2">
            <img src="../static/img/logo.png" width="250px">
            <div class="flex flex-row space-x-5 font-poppins text-sm">
                <a href="/chats">Chats</a>
            </div>
        </nav>
        <div class="flex flex-row">
            <p>Practice problems with:</p>
            <select id="chatroomSelector" onchange="changeCRDivs()">
                {% for chatroom in user.get_chatrooms() %}
                    <option value="{{ chatroom.id }}">{{ chatroom.get_friend(user).name }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div id="allChatroomAreas">
        {% for chatroom in user.get_chatrooms() %}
        <div class="flex flex-col" id="div_{{ chatroom.id }}" {% if chatroom!=user.get_chatrooms()[0] %}style="display:none;"{% endif %}>
            <div class="flex flex-row flex-wrap">
            {% for practice_problem in chatroom.get_practice_problems() %}
            <div class="flex flex-col rounded-3xl outline outline-1 outline-gray-500 w-[250px] m-1" chatroomId="{{ chatroom.id }}" id="{{ practice_problem.id }}">
                {% if practice_problem.get_status(user, chatroom) == "open" %}
                <div class="bg-gray-500 w-full p-3 rounded-t-3xl">
                    <p class="text-gray-800 font-bold text-lg">UNANSWERED</p>
                </div>
                <div class="flex flex-col space-y-1 px-2 pt-1 pb-3 text-sm h-full justify-between">
                    <p id="{{ practice_problem.id }}Question">Question: {{ practice_problem.question }}</p>
                    <br>
                    <div class="flex flex-row space-x-1">
                        <input id="{{ practice_problem.id }}Answer" class="outline outline-gray-500 rounded-3xl px-2">
                        <button  onclick="submitAnswer('{{ practice_problem.id }}')" class="px-2 py-1 bg-accent text-white rounded-3xl">Submit</button>
                    </div>
                </div>
                {% elif practice_problem.get_status(user, chatroom) == "grading" %}
                <div class="bg-yellow-500 w-full p-3 rounded-t-3xl">
                    <p class="text-yellow-800 font-bold text-lg">GRADING</p>
                </div>
                <div class="flex flex-col space-y-1 px-2 pt-1 pb-3 text-sm h-full justify-between">
                    <p>Question: {{ practice_problem.question }}</p>
                    <br>
                    <div class="flex flex-row space-x-1">
                        <input id="{{ practice_problem.id }}Answer" placeholder="{{ practice_problem.get_user_answer(user, chatroom) }}" disabled="disabled" class=" w-full outline outline-yellow-500 rounded-3xl px-2">
                    </div>
                </div>
                {% elif practice_problem.get_status(user, chatroom) == "incorrect" %}
                <div class="bg-red-500 w-full p-3 rounded-t-3xl">
                    <p class="text-red-800 font-bold text-lg">INCORRECT</p>
                </div>
                <div class="flex flex-col space-y-1 px-2 pt-1 pb-3 text-sm h-full justify-between">
                    <p>Question: {{ practice_problem.question }}</p>
                    <br>
                    <div class="flex flex-row space-x-1">
                        <input id="{{ practice_problem.id }}Answer" placeholder="{{ practice_problem.get_user_answer(user, chatroom) }}" disabled="disabled" class="w-full outline outline-red-500 rounded-3xl px-2">
                    </div>
                </div>
                {% elif practice_problem.get_status(user, chatroom) == "correct" %}
                <div class="bg-green-500 w-full p-3 rounded-t-3xl">
                    <p class="text-green-800 font-bold text-lg">CORRECT</p>
                </div>
                <div class="flex flex-col space-y-1 px-2 pt-1 pb-3 text-sm h-full justify-between">
                    <p>Question: {{ practice_problem.question }}</p>
                    <br>
                    <div class="flex flex-row space-x-1">
                        <input id="{{ practice_problem.id }}Answer" placeholder="{{ practice_problem.get_user_answer(user, chatroom) }}" disabled="disabled" class="w-full outline outline-green-500 rounded-3xl px-2">
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            </div>

        </div>
        {% endfor %}
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>